{% extends 'base.html' %}
{% load static %}

{% block content %}

<!--Home-->
<header id="home">
  <div class="grass"></div>
  <div class="rocket"></div>
  <div class="moon"></div>

  <div class="welcome">
    <h1>
      <span class="line">Hello, I'm <span class="color">Django</span></span>
      <span class="line">a fullstack developer</span>
    </h1>
    <div class="buttons">
      <a href="#projects">See my projects</a>
      <a href="#about" class="filled">Get to know me</a>
    </div>
  </div>
</header>
<!--Home end-->

<!--About-->
<section id="about">
  <div class="container-fluid">
    <h1 class="title text-center">Who am I?</h1>
    <div class="col-md-10 offset-md-1">

      <div class="box">
        <div class="col-lg-3 col-sm-12">
          <img class="profile-img float-left mr-4" src="{% static 'img/profile.png' %}" alt="Hello I'm Django">
        </div>
        <div class="col-lg-12 col-sm-12">
          <p>
            I am a fullstack developer based in the green heart of The Netherlands.
          </p>
          <p>
            I really enjoy solving puzzles and problems as well as making things nice and easy to use.
            I can't stop learning new things; the more, the better.
            I also love creating video, a hobby I'm taking along vacations since
            the good old camcorders. Oh, and games; I have a passion for Nintendo games.
          </p>
        </div>
      </div>
    </div>





<!-- partial:index.partial.html -->
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-12 heroSlider-fixed">
      <div class="overlay">
    </div>

       <!-- Slider -->
      <div class="slider responsive">
        <div><img src="http://placehold.it/200x150" alt=""></div>
        <div><img src="http://placehold.it/200x150" alt=""></div>
        <div><img src="http://placehold.it/200x150" alt=""></div>
        <div><img src="http://placehold.it/200x150" alt=""></div>
        <div><img src="http://placehold.it/200x150" alt=""></div>
        <div><img src="http://placehold.it/200x150" alt=""></div>
        <div><img src="http://placehold.it/200x150" alt=""></div>
        <div><img src="http://placehold.it/200x150" alt=""></div>
      </div>

       <!-- control arrows -->
      <div class="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </div>
      
      <div class="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      </div>
      
    </div>
  </div>
</div>
<!-- partial -->











  </div>
</section>
<!--About end-->













  



<!--Projects-->
<section id="projects">
  <div class="container">
    <h1 class="title text-center">My projects</h1>

    <div class="row">
      <p class="text-center">
        Here's a list of the projects I've been working on lately.
        All of these were built during my coding adventure on Code Institute,
        where I've been coding for almost 7 months non-stop until
        I completed all the milestone projects required to get my diploma in software development.
      </p>
    </div>





  {% for project in projects %}
    <div class="project-card row my-5 p-4">


      <div class="col-lg-4">
        <a class="project-link" href="{{ project.demo }}" target="_blank">
          <img class="project-image" src="{{ project.image.url }}" alt="{{ project.title }}">
        </a>
      </div>


      <div class="col-lg-8 mt-5">
        <div class="project-title">{{ project.title }}</div>
        <small>Built using: {{ project.codebase }}</small>
        <p>
          {{ project.explanation }}
        </p>
        <div class="buttons mt-5">
          <a href="{{ project.source }}" target="_blank">View source</a>
          <a href="{{ project.demo }}" target="_blank">Try it live</a>
        </div>
      </div>



    </div>
  {% endfor %}



<br>
<br>
<br>

  </div>
</section>
<!--Projects end-->











<!--Contact-->
<section id="contact">
  <div class="container">
    <h1 class="title text-left mt-5">Want to contact me?</h1>

    <div class="col">
      <p class="text-left">Please, use the form below or send an email to me</p>
    </div>

    <form id="contact-form" action="post">
      <input placeholder="Name" name="name" type="text" required="">
      <input placeholder="Email" name="email" type="email" required="">
      <textarea placeholder="Message" name="message"></textarea>
      <input class="button" id="submit" type="submit" value="Submit">
    </form>

  </div>
</section>
<!--Contact end-->

{% endblock content %}
