{% extends 'theme/base.html' %}
{% load static crispy_forms_tags %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/pages.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/slick.min.css' %}?version=1.9.0">
{% endblock %}

{% block content %}
    {# Home #}
    <header id="home">
        <div class="grass"></div>
        <div class="rocket"></div>
        <div class="moon"></div>

        <div class="welcome">
            <h1>
                <span class="line">Hello, I'm <span class="color">Django</span></span>
                <span class="line">a software developer</span>
            </h1>
            <div class="buttons">
                <a href="#projects">see my projects</a>
                <a href="#about" class="filled">get to know me</a>
            </div>
        </div>
    </header>

    {# About #}
    <section id="about">
        <div class="container">
            <div class="row">
                <h1 class="title text-center">{{ content.about_title }}</h1>
            </div>

            <div class="row my-4 px-3"> {# <-- Set spacing between rows #}
                <div class="card mb-3 rounded-0 border-0">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="profile-img p-4" src="{% static 'home/img/profile.png' %}" alt="Hello I'm Django">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <p class="card-text mt-3">{{ content.about_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Slider #}
            <div class="row">
                <div class="slider responsive">
                    {% for video in videos %}
                        <a href="{{ video.source }}" target="_blank"><img src="{{ video.image.url }}" alt="{{ video.title }}"></a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    {# Projects #}
    <section id="projects">
        <div class="container">

            <div class="row mt-5">
                <h1 class="title text-center text-white">{{ content.projects_title }}</h1>
            </div>

            <div class="row">
                <div class="col">
                    {# Projects introduction #}
                    <p class="text-center">{{ content.projects_text }}</p>
                </div>
            </div>

            {% for project in projects %}
                <div class="row project-card my-5 mx-2 p-4">
                    <div class="col-lg-4 mb-2">
                        <a class="project-link" href="{{ project.demo }}" target="_blank">
                            <img class="project-image" src="{{ project.image.url }}" alt="Project: {{ project.title }}">
                        </a>
                    </div>

                    <div class="col-lg-8">
                        <div class="project-title">{{ project.title }}</div>
                        <p>{{ project.explanation }}</p>
                        <small>Built using: {{ project.codebase }}</small>

                        <div class="buttons mt-4">
                            <a href="{{ project.source }}" target="_blank"><i class="fa-solid fa-code"></i> View source</a>
                            <a href="{{ project.demo }}" target="_blank"><i class="fa-solid fa-satellite-dish"></i> Try it live</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </section>

    <!--Contact-->
    <section id="contact">
        <div class="container">

            <div class="row">
                <h1 class="title text-left">Want to contact me?</h1>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-left">Please, use the form below or send an email to me</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- <form method="post" class="uniForm">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="button" id="submit" type="submit" value="Submit">
                    </form> -->
                </div>
            </div>

        </div>
    </section>
    <!--Contact end-->

{% endblock %}

{% block js %}
    <script src="{% static 'home/js/slick.min.js' %}?version=1.9.0"></script>
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}