{% extends 'theme/base.html' %}
{% load static crispy_forms_tags %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/home.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/pages.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'home/css/slick.min.css' %}?version=1.9.0">
{% endblock %}

{% block content %}
    {# Home #}
    <header id="home">
        <div class="grass"></div>
        <div class="rocket"></div>
        <div class="moon"></div>

        <div class="welcome">
            <h1>
                <span class="line">Hello, I'm <span class="color">Django</span></span>
                <span class="line">a software developer</span>
            </h1>
            <div class="buttons">
                <a href="#projects">See my projects</a>
                <a href="#about" class="filled">Get to know me</a>
            </div>
        </div>
    </header>

    {# About #}
    <section id="about">
        <div class="container-fluid">

            <div class="row">
                <h1 class="title text-center">Who am I?</h1>
            </div>

            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="box">
                        <div class="col-lg-3 col-sm-12">
                            <img class="profile-img float-start" src="{% static 'home/img/profile.png' %}" alt="Hello I'm Django">
                        </div>
                        <div class="col-lg-12 col-sm-12">
                            <p>
                                I am a software developer based in the Green Heart of the Netherlands.
                            </p>
                            <p>
                                I enjoy solving puzzles and tackling problems, as well as making things intuitive and easy
                                to use.
                                I have an insatiable desire to keep learning— the more, the better.
                                I also have a passion for video creation, a hobby I've taken on vacations ever since the
                                days of camcorders.
                                Oh, and games! I have a deep love for Nintendo games.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col">

                    {# slider #}
                    <div class="slider responsive">
                        {% for video in videos %}
                            <a href="{{ video.source }}" target="_blank"><img src="{{ video.image.url }}" alt="{{ video.title }}"></a>
                        {% endfor %}
                    </div>

                    {# control arrows #}
                    <div class="prev">
                        <i class="fas fa-arrow-circle-right"></i>
                    </div>

                    <div class="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!--Projects-->
    <section id="projects">
        <div class="container">

            <div class="row mt-5">
                <h1 class="title text-center">My projects</h1>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-center">
                        Here's a list of the projects I've been working on lately.
                        All of these were built during my coding adventure on Code Institute,
                        where I've been coding for almost 7 months non-stop until
                        I completed all the milestone projects required to get my diploma in software development.
                    </p>
                </div>
            </div>

            {% for project in projects %}
            <div class="row project-card my-5 p-4">
                <div class="col-lg-4">
                    <a class="project-link" href="{{ project.demo }}" target="_blank">
                        <img class="project-image" src="{{ project.image.url }}" alt="{{ project.title }}">
                    </a>
                </div>
                <div class="col-lg-8 mt-5">
                    <div class="project-title">{{ project.title }}</div>
                    <small>Built using: {{ project.codebase }}</small>
                    <p>
                        {{ project.explanation }}
                    </p>
                    <div class="buttons mt-5">
                        <a href="{{ project.source }}" target="_blank">View source</a>
                        <a href="{{ project.demo }}" target="_blank">Try it live</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
    <!--Projects end-->

    <!--Contact-->
    <section id="contact">
        <div class="container">

            <div class="row">
                <h1 class="title text-left">Want to contact me?</h1>
            </div>

            <div class="row">
                <div class="col">
                    <p class="text-left">Please, use the form below or send an email to me</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <!-- <form method="post" class="uniForm">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="button" id="submit" type="submit" value="Submit">
                    </form> -->
                </div>
            </div>

        </div>
    </section>
    <!--Contact end-->

{% endblock %}

{% block js %}
    <script src="{% static 'home/js/slick.min.js' %}?version=1.9.0"></script>
    <script src="{% static 'home/js/carousel.js' %}"></script>
{% endblock %}