html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #252934;
  background: #fafafa;
  font-size: 62.5%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a, a:visited {
  text-decoration: none;
  transition: 200ms;
  -webkit-transition: 200ms;
}

.title {
  padding: 80px 0 40px 0;
}

/*-----------------------------Landing page------------------------------*/

#home {
  background: #202736;
  background: -webkit-gradient(linear, left top, left bottom, from(#13071A), color-stop(80%, #583A69));
  background: linear-gradient(to bottom, #13071A 0%, #583A69 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

#home::before {
  content: '';
  position: fixed;
  background: url(../svg/stars.svg);
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  z-index: -1;
  -webkit-animation: stars-move-in 1000ms 300ms forwards;
  animation: stars-move-in 1000ms 300ms forwards;
}

@-webkit-keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

.grass {
  position: absolute;
  bottom: -300px;
  left: 0;
  background: url(../svg/grass.svg) bottom left repeat-x;
  background-size: cover;
  width: 100%;
  height: 80%;
  opacity: 0;
  -webkit-animation: grass-move-in 1000ms 500ms forwards;
  animation: grass-move-in 1000ms 500ms forwards;
  border-bottom: 300px solid #181d23;
}

@-webkit-keyframes grass-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}

@keyframes grass-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}

.rocket {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../svg/rocket.svg) bottom left no-repeat;
  width: 50%;
  height: 50%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: rocket-move-in 1000ms 800ms forwards;
  animation: rocket-move-in 1000ms 800ms forwards;
}

@-webkit-keyframes rocket-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}

@keyframes rocket-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}

.moon {
  top: 0;
  right: 0;
  position: fixed;
  background: url(../svg/moon.svg) no-repeat;
  background-size: 40% 40%;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: moon-move-in 1.2s 1s forwards;
  animation: moon-move-in 1.2s 1s forwards;
}

@-webkit-keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: right 150%;
  }
  to {
    opacity: 1;
    background-position: top right;
  }
}

@keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: right 150%;
  }
  to {
    opacity: 1;
    background-position: top right;
  }
}

/*------------------------Landing page welcome text-------------------------*/

#home .welcome {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  right: 25%;
  opacity: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  animation: text-fade-in 1000ms 800ms forwards;
  -webkit-animation: text-fade-in 1000ms 800ms forwards;
}

@-webkit-keyframes text-fade-in {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 25%;
  }
}

@keyframes text-fade-in {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 25%;
  }
}

#home .welcome h1 {
  font-size: 3rem;
  font-weight: normal;
  font-style: italic;
  color: #fafafa;
}

#home .welcome .buttons {
  display: -webkit-box;
  display: flex;
  margin-top: 2rem;
}

#home .welcome .buttons a, #home .welcome .buttons a:visited {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fafafa;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}

#home .welcome .buttons a:hover, #home .welcome .buttons a:active {
  border: 1px solid #36D3B4;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 10px 100px -20px #36D3B4;
}

#home .welcome .buttons a.filled, #home .welcome .buttons a.filled:visited {
  background: #36D3B4;
  border: 1px solid transparent;
  color: #fafafa;
  font-weight: bold;
}

#home .welcome .buttons a.filled:hover, #home .welcome .buttons a.filled:active {
  background: transparent;
  border: 1px solid #36D3B4;
}

#home .welcome .buttons a:first-child {
  margin-right: 1rem;
}

.line {
  display: block;
}

.color {
  color: #36D3B4;
  font-style: italic;
}

@media only screen and (max-width: 649px) {
  #home .container {
    right: 50%;
    top: 10%;
    width: 80%;
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
    -webkit-animation: text-fade-in 1000ms 800ms forwards;
    animation: text-fade-in 1000ms 800ms forwards;
  }
  @-webkit-keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 50%;
    }
  }
  @keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 50%;
    }
  }
  .rocket {
    width: 100%;
  }
}

/*-----------------------------About section-----------------------------*/

#about {
  min-height: 100%;
  position: relative;
  z-index: 5;
  clip-path: polygon( 0 0, 50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%);
  background: rgb(245, 245, 245);
}

#about p {
  font-size: 1.4rem;
  color: rgb(129, 127, 127);
}

#about .box {
  min-height: 280px;
  padding: 2rem;
  text-align: justify;
  background: rgb(255, 255, 255);
}

#about .profile-img {
  width: 230px;
  margin-top: -50px;
}

/*----------------------------Projects section---------------------------*/

#projects {
  min-height: 100%;
  position: relative;
  z-index: 1;
  background: rgb(24, 29, 35) url(../svg/surface.svg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.4rem;
}

#projects p {
  color: rgb(255, 255, 255);
}

#projects small {
  color: rgb(129, 129, 129);
}

#projects .project-card {
  background-color: rgba(88, 88, 88, 0.28);
}

#projects .project-link {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fafafa;
  transition: 300ms;
}

#projects .project-link:hover>img {
  filter: saturate(1);
  transform: scale(1.05);
}

#projects .project-image {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  filter: saturate(0);
  transition: all 300ms;
}

#projects .project-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  color: rgb(54, 211, 180);
}

/*-Buttons-*/

#projects .buttons {
  display: flex;
  justify-content: space-between;
}

#projects .buttons a {
  width: 49%;
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #252934;
  background: #fafafa;
}

#projects .buttons a:hover {
  text-decoration: none;
  color: #fafafa;
  background: rgb(54, 211, 180);
}


/*****************
 *****************
   CONTACT STYLES
 *****************
 *****************/

#contact {
  background: #f5f5f5 url() no-repeat right;
  -webkit-clip-path: polygon(0 0, 20% 100px, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 0, 20% 100px, 100% 0, 100% 100%, 0 100%);
  color: #1b0f0f;
  min-height: 100vh;
  width: 100%;
  padding: 5rem 3rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  margin: -100px 0 140px;
  z-index: 1;
}

#contact .container {
  width: 70%;
  max-width: 1200px;
  padding: 25vh 0;
}

#contact .container .heading-wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

#contact .heading-wrapper .social a {
  color: #0c0909;
}

#contact .heading-wrapper .social a:hover {
  color: #f300b4;
}

.heading-wrapper .heading .title {
  font-size: 3rem;
  line-height: 2.4rem;
}

.heading-wrapper .heading .separator {
  background: #f300b4;
  width: 150px;
  height: 2px;
  margin: 1rem 0;
}

.heading-wrapper .heading .subtitle {
  font-size: 1.4rem;
}

#contact-form {
  margin-top: 1rem;
}

input, textarea {
  border: none;
  padding: 1rem;
  font-family: 'Overlock', Arial, Helvetica, sans-serif;
  width: 100%;
  height: 40%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

input[type="text"], input[type="email"], input[type="text"]:not(output):not(:focus), input[type="email"]:not(output):not(:focus), textarea {
  border-bottom: 1px solid #070606;
  background: transparent;
  color: #130808;
  font-size: 1.8rem;
  box-shadow: none;
  outline: none;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="text"]:not(output):focus, input[type="email"]:not(output):focus, textarea:focus {
  border-bottom: 1px solid #f300b4;
}

input[type="submit"] {
  background: #f300b4;
  color: #0e0505;
  margin-top: 1rem;
  width: auto;
  float: right;
}

input[type="submit"]:hover, input[type="submit"]:focus {
  cursor: pointer;
  color: #333;
  background: #fafafa;
}

::-webkit-input-placeholder {
  color: #fafafa;
}

::-moz-placeholder {
  color: #fafafa;
}

:-ms-input-placeholder {
  color: #fafafa;
}

::-ms-input-placeholder {
  color: #fafafa;
}

::placeholder {
  color: #fafafa;
}

/** Email to avoid spam **/

.mail {
  display: inline-block;
  font-style: italic;
}

.mail .at, .mail .dot {
  font-size: .9rem;
  margin: 0 .1rem;
  color: #f300b4;
}



/*------------------------Landing page container-------------------------*/

footer {
  font-size: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 150px;
  background: #13071A;
  z-index: 0;
}

footer .wrapper {
  display: -webkit-box;
  display: flex;
  width: 100%;
  padding: 2rem;
  max-width: 1400px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

@media only screen and (max-width: 649px) {
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
  footer .wrapper h3 {
    padding-bottom: .8rem;
  }
}