@import url("https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700");

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #252934;
  background: #fafafa;
  font-size: 62.5%;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

a, a:visited {
  text-decoration: none;
  transition: 200ms;
  -webkit-transition: 200ms;
}

.title {
  padding: 80px 0 40px 0;
  font-weight: 300;
  font-style: italic;
}

/*-----------------------------Landing page------------------------------*/

#home {
  background: #202736;
  background: -webkit-gradient(linear, left top, left bottom, from(#13071A), color-stop(80%, #583A69));
  background: linear-gradient(to bottom, #13071A 0%, #583A69 80%);
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
  z-index: 1;
}

#home::before {
  content: '';
  position: fixed;
  background: url(../svg/stars.svg);
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  z-index: -1;
  -webkit-animation: stars-move-in 1000ms 300ms forwards;
  animation: stars-move-in 1000ms 300ms forwards;
}

@-webkit-keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

@keyframes stars-move-in {
  from {
    background-position-y: -100px;
  }
  to {
    opacity: 1;
    background-position-y: 0;
  }
}

.grass {
  position: absolute;
  bottom: -300px;
  left: 0;
  background: url(../svg/grass.svg) bottom left repeat-x;
  background-size: cover;
  width: 100%;
  height: 80%;
  opacity: 0;
  animation: grass-move-in 1000ms 500ms forwards;
  border-bottom: 300px solid #181d23;
}

@-webkit-keyframes grass-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}

@keyframes grass-move-in {
  from {
    background-position-y: 150%;
  }
  to {
    opacity: 1;
    background-position-y: 100%;
  }
}

.rocket {
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../svg/rocket.svg) bottom left no-repeat;
  width: 50%;
  height: 50%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: rocket-move-in 1000ms 800ms forwards;
  animation: rocket-move-in 1000ms 800ms forwards;
}

@-webkit-keyframes rocket-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}

@keyframes rocket-move-in {
  from {
    background-position-x: 0;
  }
  to {
    opacity: 1;
    background-position-x: 50%;
  }
}

.moon {
  top: 0;
  right: 0;
  position: fixed;
  background: url(../svg/moon.svg) no-repeat;
  background-size: 40% 40%;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: -1;
  -webkit-animation: moon-move-in 1.2s 1s forwards;
  animation: moon-move-in 1.2s 1s forwards;
}

@-webkit-keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: right 150%;
  }
  to {
    opacity: 1;
    background-position: top right;
  }
}

@keyframes moon-move-in {
  from {
    opacity: 0;
    background-position: right 150%;
  }
  to {
    opacity: 1;
    background-position: top right;
  }
}

/*------------------------Landing page welcome text-------------------------*/

#home .welcome {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  right: 0;
  top: 50%;
  right: 25%;
  opacity: 0;
  transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  animation: text-fade-in 1000ms 800ms forwards;
  -webkit-animation: text-fade-in 1000ms 800ms forwards;
}

@-webkit-keyframes text-fade-in {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 25%;
  }
}

@keyframes text-fade-in {
  from {
    right: 0;
  }
  to {
    opacity: 1;
    right: 25%;
  }
}

#home .welcome h1 {
  font-size: 3rem;
  font-weight: normal;
  font-style: italic;
  color: #fafafa;
}

#home .welcome .buttons {
  display: -webkit-box;
  display: flex;
  margin-top: 2rem;
  padding-left: 10px;
  padding-right: 10px;
}

#home .welcome .buttons a, #home .welcome .buttons a:visited {
  width: 100%;
  padding: 1rem;
  border: 1px solid #fafafa;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  text-decoration: none;
}

#home .welcome .buttons a:hover, #home .welcome .buttons a:active {
  border: 1px solid #36D3B4;
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
  box-shadow: 0 10px 100px -20px #36D3B4;
}

#home .welcome .buttons a.filled, #home .welcome .buttons a.filled:visited {
  background: #36D3B4;
  border: 1px solid transparent;
  color: #fafafa;
  font-weight: bold;
}

#home .welcome .buttons a.filled:hover, #home .welcome .buttons a.filled:active {
  background: transparent;
  border: 1px solid #36D3B4;
}

#home .welcome .buttons a:first-child {
  margin-right: 1rem;
}

.line {
  display: block;
}

.color {
  color: #36D3B4;
  font-style: italic;
}

@media only screen and (max-width: 649px) {
  #home .container {
    right: 80%;
    top: 10%;
    width: 80%;
    -webkit-transform: translate(50%, 0);
    transform: translate(50%, 0);
    -webkit-animation: text-fade-in 1000ms 800ms forwards;
    animation: text-fade-in 1000ms 800ms forwards;
  }
  @-webkit-keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 50%;
    }
  }
  @keyframes text-fade-in {
    from {
      right: 0;
    }
    to {
      opacity: 1;
      right: 0%;
      
    }
  }
  .rocket {
    width: 100%;
  }
}

/*-----------------------------About section-----------------------------*/

#about {
  min-height: 100%;
  position: relative;
  z-index: 5;
  clip-path: polygon( 0 0, 50% 5%, 100% 0, 100% 100%, 50% 100%, 0 100%);
  background: rgb(245, 245, 245);
}

#about p {
  font-size: 1.4rem;
  color: rgb(129, 127, 127);
}

#about .box {
  min-height: 280px;
  padding: 2rem;
  text-align: justify;
  background: rgb(255, 255, 255);
}

#about .profile-img {
  width: 230px;
  margin-top: -50px;
}

/*----------------------------Projects section---------------------------*/

#projects {
  min-height: 100%;
  position: relative;
  z-index: 2;
  clip-path: polygon(0 90%, 20% 100%, 100% 90%, 100% 0, 0 0);
  background: rgb(24, 29, 35) url(../svg/surface.svg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 1.4rem;
}

#projects p {
  color: rgb(255, 255, 255);
}

#projects small {
  color: rgb(129, 129, 129);
}

#projects .project-card {
  background-color: rgba(88, 88, 88, 0.28);
}

#projects .project-link {
  display: block;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #fafafa;
  transition: 300ms;
}

#projects .project-link:hover>img {
  filter: saturate(1);
  transform: scale(1.05);
}

#projects .project-image {
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  filter: saturate(0);
  transition: all 300ms;
}

#projects .project-title {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  color: rgb(54, 211, 180);
}

#projects .buttons {
  display: flex;
  justify-content: space-between;
}

#projects .buttons a {
  width: 49%;
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  color: #252934;
  background: #fafafa;
}

#projects .buttons a:hover {
  text-decoration: none;
  color: #fafafa;
  background: rgb(54, 211, 180);
}

/*****************
 *****************
   CONTACT STYLES
 *****************
 *****************/

#contact {
  margin-top: -130px;
  min-height: 90%;
  position: relative;
  z-index: 1;
  background: rgb(245, 245, 245);
}

#contact p {
  font-size: 1.4rem;
  color: rgb(129, 127, 127);
}

input, textarea {
  border: none;
  padding: 1rem;
  width: 100%;
  height: 40%;
  transition: 200ms;
}

input[type="text"], input[type="email"], input[type="text"]:not(output):not(:focus), input[type="email"]:not(output):not(:focus), textarea {
  border-bottom: 1px solid #070606;
  background: transparent;
  color: #130808;
  font-size: 1.8rem;
  box-shadow: none;
  outline: none;
}

::-webkit-input-placeholder {
  color: #333;
}

::-moz-placeholder {
  color: #333;
}

:-ms-input-placeholder {
  color: #333;
}

::-ms-input-placeholder {
  color: #333;
}

::placeholder {
  color: #333;
}

/*------------------------Landing page container-------------------------*/

#footer {
  margin-top: -80px;
  height: 220px;
  position: relative;
  z-index: 1;
  color: rgb(250, 250, 250);
  background: rgb(0, 0, 0);
}






/*SLIDER */

img {
  width: 100%;
  height: auto;
  padding: 5px;
}

h2 {
  text-align: center;
  padding-bottom: 1em;
}

.slick-dots {
  text-align: center;
  margin: 0 0 10px 0;
  padding: 0;
}
.slick-dots li {
  display: inline-block;
  margin-left: 4px;
  margin-right: 4px;
}
.slick-dots li.slick-active button {
  background-color: black;
}
.slick-dots li button {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background-color: #999;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.slick-dots li :hover {
  background-color: black;
}

/* Custom Arrow */
.prev {
  color: #999;
  position: absolute;
  top: 38%;
  left: -2em;
  font-size: 1.5em;
}
.prev :hover {
  cursor: pointer;
  color: black;
}

.next {
  color: #999;
  position: absolute;
  top: 38%;
  right: -2em;
  font-size: 1.5em;
}
.next :hover {
  cursor: pointer;
  color: black;
}

@media screen and (max-width: 800px) {
  .next {
    display: none !important;
  }
}